# auth_db_filename - sqlite filename of authorized UIDs, create with create_authenticator_db.py
# lock_opened_secs - how long lock should be held open in seconds, default 5
[brmdoor]
auth_db_filename = test_uids_db.sqlite
#lock_opened_secs = 5
